.profile {
    width: 100%;
    height: 100%;
    background-color: rgb(236, 212, 212);
    animation-name: timer;
    animation-duration: 4s;
}
@keyframes timer {
    from {
        opacity: 0;
        width: 0px;
        height: 0px;
    }
    to { 
        width: 100%;
        height: 100%;
        background-color: rgb(236, 212, 212);
        opacity: 1;
    }
  }
  
  /* The element to apply the animation to */
