.right{
    width: 100%;
    height: 100%;
    position: relative;
}
.right .gido{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right .text{
    position: absolute;
    top: 470px;
    width: 100%;
    height: 100px;
}
.right .text-field{
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.125em; 
    word-break: break-word;
    white-space: normal;
}
.right .gido img{
    width: 350px;
    height: 300px;
}
/*========================*/
@media only screen and (min-width:250px) and (max-width:650px){
    .right .gido img{
        width: 300px;
        height: 270px;
    }
    .Words:hover p {
        transform: translate3d(0, -157px, 0);
    }
    .Words {
        margin-top: 70px;
        font-size: 37px;
    }
    .right .text{
        top: 320px;
        word-break: break-word;
        white-space: normal;
        line-height: 1;
    }
    .right .gido {
        height: 60%;
    }
}
@media only screen and (min-width:650px) and (max-width:1000px){
    section .top .top-right {
        width: 100%;
        height: 470px;
        margin: auto;
    }
    .right .text {
        top: 385px;
        word-break: break-word;
        white-space: normal;
        line-height: 0.8;
    }
    .right .gido {
        height: 85%;
    }
}